@font-face {
        font-family: Lato;
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: local("Lato"),
             url("/images/fonts/Lato-Black.woff2") format('woff2'),
             url("/images/fonts/Lato-Black.woff") format('woff'),
             url("/images/fonts/Lato-Black.eot") format('eot');
       
      }
      @font-face {
        font-family: Lato;
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: local("Lato"),
             url("/images/fonts/Lato-Bold.woff2") format('woff2'),
             url("/images/fonts/Lato-Bold.woff") format('woff'),
             url("/images/fonts/Lato-Bold.eot") format('eot');
       
      }
    @font-face {
      font-family: Lato;
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: local("Lato"),
           url("/images/fonts/Lato-Regular.woff2") format('woff2'),
           url("/images/fonts/Lato-Regular.woff") format('woff'),
           url("/images/fonts/Lato-Regular.eot") format('eot');
     
    }
   
   