.html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}
.wrapper {
 min-height: auto;
    width: 100%;
   overflow: hidden;
}

.overlay--show {
opacity: 1;
visibility: visible;
}
.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    
}
.burger {
  display: none;
}
.main__about { 
  margin-bottom: 161px;
}
.main__directions { 
padding-bottom: 180px;
}
.button {
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  white-space: nowrap;
  margin-right: 36px;
  display: inline-block;
}
.button:hover {
  transform: scale(1.05);
}
.button--empty {
 background-image: none;
 border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(right, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(right, #FF3F3A, #F75E05);
 background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}
.button--empty span {
background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.logo { 
}
.heading { 
  color: #1E212C;
}
.heading__subtittle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
text-transform: uppercase;
font-weight: 700;
 }
.heading__tittle { 
  font-size: 46px;
font-weight: 900;
line-height: 130%;
}
.heading--text-center { 
  text-align: center;
}
/*==============================HEADER-TOP================================================================================================================================================*/
/*========================================================================================================================================================================================*/

.header {
  font-weight: 700;
  background: url("/Проект/images/Decoration/shape-icons.svg") 50% 30% / cover no-repeat, linear-gradient(5555.95deg, rgba(255,63,58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  height: auto;
  display: flex;
  flex-direction: column;
margin-bottom: 179px;
 }
 header__top {}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__logo { 
  margin-right: 60px;
}
.header__nav { 
  margin-right: auto;
  white-space: nowrap;
}
.header__nav-list { 
  display: flex;
  margin-right: auto;
}
.header__nav-item { 
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link { 
  line-height: 1.6;
  color: #424551;
  transition: all .3s;
}
.header__nav-link:hover {
  color: #FF3F3A;
}
.header__btn-box {
  display: flex;
  align-items: center;
  white-space: nowrap;
 }
.header__top-btn {
 transition: all .3s;
 }
 .header__top-btn:hover {
  color: #FF3F3A
 }
 .header__user-nav {
  position: relative;
  padding-left: 28px;
  line-height: 1.6;
 }
 .header__user-nav::before {
 content: "";
 background: url("/Проект/images/icons/Profile.svg") no-repeat;
 width: 20px;
 height: 20px;
 display: block;
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 }

/*===================HEADER======================================================================================================================================================================*/
/*===============================================================================================================================================================================================*/

.header__body {
  flex-grow: 1;
}

.header__body-inner { 
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header__main { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#1E212C;
 margin: 120px 0;

}
.header__content {
  margin-right: 30px;
 }
.header__play { 
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}
.header__play svg{ 
 margin-right: 16px;
 border-radius: 50%; 

}
.header__play:hover svg {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
  transition: all .3s;
}
.header__title {
  font-size: 64px;
font-weight: 900;
line-height: 130%;
letter-spacing: 1px;
max-width: 500px;
margin-bottom: 60px;
 }
.header__content-buttons {
  display: flex;
 }
.header__row { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1E212C;
  margin-bottom: 80px;
}
.header__row>span {
background-color: #FF3F3A;
height: 8px;
width: 8px;
border-radius: 50%;
margin: 0 15px;
}
.header__row-item { 
display: flex;
align-items: center;
}
.header__row-item span { 
  font-size: 46px;
font-weight: 900;
line-height: 130%;
vertical-align: middle;
margin-right: 12px;
}

/*=================MAIN=====================================================================================================================================================================*/
/*==========================================================================================================================================================================================*/

.about {

  
 }

.container { 
  
}
.about__inner {

 }
.about__createx { 
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
}
.about__createx::before {
  content: "";
  position: absolute;
  top: -41px;
    right: -200px;
  background: url("/Проект/images/Decoration/4.svg") no-repeat;
  width: 100px;
  height: 85px;
 }
.about__createx-content { 
max-width: 600px;
margin-right: 30px;
}
.about__text {
  margin-bottom: 60px;
}
.about__heading {
  margin-bottom: 48px;
}
.about__paragraph { 
margin-bottom: 24px;
}
.about__paragraph:last-child { 
  margin-bottom: 0;
  }
.about__paragraph--accent {
  font-size: 20px;
font-weight: 700;
line-height: 150%;
color: #1E212C;
}
.about__btn-box {
  display: flex;
 }
/*==================2 section MAIN===================================================================================================================================================*/
/*===================================================================================================================================================================================*/

.about__values { 
  display: flex;
  justify-content: space-between;
  
 
}
.about__image-box img {
width: 100%;
height: 100%;
object-fit: cover;

 }
 .about__image-box {
  border-radius: 4px;
 }
.about__number span {
  font-size: 48px;
font-weight: 900;
line-height: 130%;
letter-spacing: 1px;
color: #FF3F3A;
margin-right: 16px;

 }
 
.about__number {
  display: flex;
  font-size: 18px;
font-weight: 700;
line-height: 150%;
color: #1E212C;
align-items: center;
white-space: nowrap;
 }
 .about__number:last-child  {
margin-bottom: 0;
 }
 .about__numbers {
  align-items: center;
 margin-bottom: 20px;
 margin-left: 30px;
 margin-left: 30px;
 align-self: center;
 }
/*======================3 section=========================================================================================================================================================*/
 /*=======================================================================================================================================================================================*/

.directions { 
 }
.directions__inner { 
  margin-bottom: 90px;
  position: relative;
}
.directions__inner::before { 
 content: "";
 display: block;
 position: absolute;
  top: 0;
  left: -190px;
  top: 30px;
  width: 136px;
  height: 115px;
  background: url(/Проект/images/Decoration/2.svg) 0 0 no-repeat ;
}
.directions__inner::after { 
  content: "";
  display: block;
  position: absolute;
   right: -400px;
   top: 400px;
   width: 243px;
   height: 243px;
   background: url(/Проект/images/Decoration/3.svg) 0 0 no-repeat ;
   opacity: .12;
  
}
.directions__heading { 
  
}
.directions__body {
 }
.directions__filter-box { 
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.directions__filter-item { 
  margin-right: 60px;
  margin-bottom: 15px;
}

.directions__filter-btn {
  color: #9A9CA5;
  border-radius: 4px;
  border: 1px solid var(--gray-600, #9A9CA5);
  font-weight: 700;
  padding: 5px 8px;
  margin-right: 45px;
  background-color: transparent;
  line-height: 1;
  font-size: 16px;
  white-space: nowrap;
 }
 .directions__filter-btn:last-child { 
  margin-right: 0;
}
.directions__list-link--active {
  
}
.directions__filter-btn--all {
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  color: #fff;
  border: none;
  padding: 6px 8px;
}
.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
  
}
.directions__list-item { 
 
}
.directions__list-item--marketing .direction__link-tag {
background-color: #03CEA4;
}
.directions__list-item--management .direction__link-tag {
  background-color: #5A87FC;
}
.directions__list-item--hr .direction__link-tag {
  background-color: #F89828;
}
.directions__list-item--design .direction__link-tag {
  background-color: #F52F6E;
}
.directions__list-item--development .direction__link-tag {
  background-color: #7772F1;
}
.directions__list-link { 
  border-radius: 4px;
  border: 1px solid var(--gray-300, #E5E8ED);
  background: var(--white, #FFF);
  display: block;
  overflow: hidden;
  transition: all 1s;
}
.directions__list-link:hover {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
transition: all .6s;
}
.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: all .6s;
  }

.directions__image-box { 

}
.directions__image-box img{ 
  width: 100%;
  height: 100%;
}
.directions__link-content { 
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
}
.direction__link-tag {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  background-color: #F75E05;
  padding: 6px 8px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
 }
.directions__link-text { 
  color: #787A80;
  margin-bottom: 20px;
}
.directions__link-btn {
  color: #1E212C;
  font-weight: 700;
  line-height: 160%;
  display: flex;
  transition: all .3s;
 }
 
 .directions__link-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/Проект/images/icons/arrow-right.svg) 0 0 / 100% no-repeat;
  margin-left: 11px;
 }
.directions__list-item--empty {
  font-size: 20px;
  font-weight: 700;
line-height: 150%;
color: #424551;
text-align: center;
border-radius: 4px;
background: var(--gray-200, #F4F5F6);
display: flex;
align-items: center;
justify-content: center;
 }
 .directions__list-item--empty span{
max-width: 240px; 
}

 /*======================4 section=============================================================================================================================================================*/
/*=============================================================================================================================================================================================*/
 .cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
 }
 .cert__inner::before {
  content: "";
  display: block;
  background: url(/Проект/images/Decoration/4.svg) 0 0 no-repeat;
  position: absolute;
  top: -15px;
  left: -190px;
  width: 60px;
  height: 60px;
 }
 .main__cert {
  margin-bottom: -46px;
  }
.cert { 
  
}
.container { }
.cert__content { 
  margin-right: 30px;
  max-width: 400px;
  
}
.cert__heading {
  margin-bottom: 50px;
}
.heading { }
.heading__subtittle { }
.heading__tittle { }
.cert__text {
  margin-bottom: 32px;
 }
.cert__logos { 
  display: flex;
}
.logos__item { 
  margin-right: 40px;
}
.logos__item:last-child {
  margin-right: 0;
} 
.cert__image-box { 
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}
.cert__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }

/*=================================TEAM======================================================================================================================================================================*/
/*===========================================================================================================================================================================================================*/

.main__team { 
  padding: 160px 0 180px;
}
.team { 
  background: url(/Проект/images/Decoration/Group\ 2.svg) 200px 30px no-repeat, #F4F5F6;
}
.container { }
.team__inner { 
  
}
.team__heading {
  margin-bottom: 60px;
  position: relative;
 }
.heading {
 }
.heading__subtittle { }
.heading__tittle {

 }
.team__slider .slick-list{ 
  margin: 0 -15px;
}
.team__slide {
  padding: 0 15px;

 }
 .team__slide:hover {
  
 }
.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  
 }
.team__image { 
  position: relative;
  height: 340px;
  overflow: hidden;
}
.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
 }
.team__socials { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(5500deg, rgba(30, 33, 44, 0.00) 43.90%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transition: all .3s;
}
.team__socials-item {
  margin-right: 6px;
 }
 .team__socials-item:last-child {
  margin-right: -10px;
 }
 .team__socials-link { 
  display: block;
  line-height: 0;
 }
 .team__socials-link path { 
  transition: all .3s;
 }
.team__socials-link:hover path { 
 fill: #ffee00;
 
}
.team__info { 
  text-align: center;
}
.team__info-name { 
  font-size: 20px;
font-weight: 700;
line-height: 150%;
margin-bottom: 5px;
}
.team__info-positions {
  font-size: 16px;
font-weight: 400;
line-height: 160%;
color: #787A80;
 }
 .team__slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
 }
 .team__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 5;
 }

 .team__slider-arrow path{
  transition: all .3s;
 }
.team__slider-arrow::before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(0);
width: 48px;
height: 48px;
background-color: #FF3F3A;
border-radius: 50%;
z-index: -1;
transition: all .3s;
}
 .team__slider-arrow:hover path{
fill: #fff;
}
.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
  }
 .team__slider-prev {
  margin-right: 24px;
 }
 .team__slider-next {
  
 }
 /*======================TESTIMONIALS==================================================================================================================================================================*/
/*=====================================================================================================================================================================================================*/

.main__testimonials { 
padding-bottom: 195px;
background: url(/Проект/images/Decoration/Group\ 3.svg) 50% 2% no-repeat #F4F5F6;

}
.testimonials {
  
 }
.container { }
.testimonials__inner { 
  position: relative;
  margin: 0 auto;
 
}
.testimonials__heading {
  margin-bottom: 60px;
 }
.heading { }
.heading__subtittle { }
.heading__tittle { }
.testimonials__slider-wrapper { 
  background-color: #fff;
  max-width: 1020px;
  margin: auto;
 margin-bottom: 47px;
}
.testimonials__slider {
  margin: 0 auto;
  background-color: #fff;
  
 }

.testimonials__slide { 
  padding: 64px;
  background-color: #fff;
  border-radius: 4px;
}
.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
 
 }
.testimonials__quote {
  position: relative;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 150%;
 }
 .testimonials__quote::before {
content: "";
position: absolute;
top: 0;
left: -48px;
background: url(/Проект/images/Decoration/braces.svg) 50% 50% / 100% no-repeat;
width: 28px;
height: 20px;
 }
.testimonials__user {
  display: flex;
  align-items: center;
 }
.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
 }
.testimonials__info { }
.testimonials__info-name { 
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
  margin-bottom: 4px;
}
.testimonials__info-position {
  font-size: 14px;
font-weight: 400;
line-height: 150%;
color: #787A80;
 }
 .testimonials__arrow { 
position: absolute;
top: 0;
transform: translateY(15%);
bottom: 0;
width: 50px;
display: flex;
align-items: center;
 }
 .testimonials__arrow svg{
  border-radius: 50%; 
  transition: all .3s;
}
.testimonials__arrow:hover svg {
  background: #ff3f3a;
  box-shadow: 0 0 0 15px #ff3f3a;
}
.testimonials__arrow path {
  transition: all .3s;
}
.testimonials__arrow:hover path {
  fill: #fff;
}
 .testimonials__prev { 
left: 0px;
justify-self: flex-start;
 }
 .testimonials__next { 
  right: 0;
  justify-content: flex-end;
 }
 .testimonials__dots .slick-dots {
display: flex;
justify-content: center;
 }
 .testimonials__dots li {
display: flex;
justify-content: center;
align-items: center;
margin-right: 12px;
 }
 .testimonials__dots li:last-child {
  margin-right: 0;
}
 .testimonials__dots button {
font-size: 0;
border-color: transparent;
height: 30px;
width: 30px;
display: flex;
align-items: center;
background-color: #F4F5F6;
 }
 .testimonials__dots button::before {
 content: "";
 height: 3px;
 width: 100%;
 background-color: #B3B7BC;
 border-radius: 3px;
}
 .slick-dots {
  background-color: #F4F5F6;
 }
 .testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all .3s;
   }

   /*=====================WORK SECTIONS===================================================================================================================*/
   /*=====================================================================================================================================================*/

   .main__work { 
    background-color: #F4F5F6;
    padding-bottom: 144px;
   }
.work__inner {
  position: relative;
}
.work__inner::before {
  content: "";
  position: absolute;
  top: 350px;
  left: -200px;
  background: url(/Проект/images/Decoration/shapes.svg) 0 0 / 100% no-repeat;
  width: 90px;
  height: 90px;
 }
.work__heading {
  margin-bottom: 60px;
 }
.work__corporations {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 100px;

 }
.work__corporation-link {
  display: block;
}
.work__corporation-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1) opacity(60%);
  transition: all 1.3s;
}
.work__corporation-link:hover img{
  filter: grayscale(1) opacity(100%) drop-shadow(20px 20px 10px rgb(0, 0, 0)) invert(100%) ;
  transition: all .3s;
}

/*=====================ACCORDEON SECTIONS===================================================================================================================*/
 /*=====================================================================================================================================================*/

 .main__program {
padding: 115px 0 185px;
 }
 .program__inner {
display: flex;
justify-content: space-between;
align-items: center;
  }
 .program__content { 
margin-right: 80px;
max-width: 640px;
 }
 .program__heading { 
  margin-bottom: 60px;
 }
 .program__acc {

  }
 .program__acc-item { 
  margin-bottom: 24px;
 }
 .program__acc-link { 
  display: block;
  padding-left: 40px;
 }
 .program__acc-item:last-child { 
  margin-bottom: 0;
 }
 .program__acc-head {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
  position: relative;
  }
  .program__acc-head span {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #FF3F3A;
  }
  .program__acc-head::before,
  .program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: #FF3F3A;
    border-radius: 2px;
  }
  .program__acc-head::after {
    transform: rotate(90deg);
    transition: all .3s;
  }
 .program__acc-text { 
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  margin-top: 16px;
 }
 .program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
 }
 .program__image {
  justify-content: space-between;
 }

 /*=================================LATEST SECTION=====================================================================================================================*/
 /*====================================================================================================================================================================*/

 .main__latest { 
  padding-bottom: 200px;
 }
.latest__inner { 
}
.latest__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
 }
.latest__heading { 
  margin-right: 30px;
}
.latest__btn { 
  margin: 0;
}
.button { }
.latest__wrapper {
  display: flex;

}
.latest__wrapper-team {
  transition: all 1.3s;
}
.latest__wrapper {
  margin: 0 -6px;
  flex: 0 1 33.333%;
  height: 100%;
 }
.latest__image { 
padding: 0 15px;
border-radius: 4px;
overflow: hidden;
position: relative;
height: 100%;
}

.latest__image img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.latest__podcast-text { 
  display: flex;
  flex-direction: column;
}
.latest__item-inner { }
.latest__image-box span {
position: absolute;
top: 12px;
left: 25px;
border-radius: 4px;
background: #ffffff;
padding: 1px 8px;
display: flex;
align-items: center;
 }
 .latest__image-box span::before {
 content: "";
 width: 16px;
 height: 17px;
 display: block;
 margin-right: 4px;
   }
.latest__time-info {
  display: flex;
  margin: 0 -12px 8px;
  color: #787A80;
 }
 .latest-el {
  padding: 0 12px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
 }
 .latest-el:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
 }
 .latest-el:last-child:after {
  content: none;
 
 }
.latest__marketing { 

}
.latest__monts {
  display: flex;
  align-items: center;
  
}
.latest__monts::before { 
content: "";
display: block;
width: 16px;
height: 15px;
background: url(/Проект/images/icons/Calendar_icon.svg) 0 0 / 100% no-repeat;
margin-right: 9px;

}
.latest__time { 
  display: flex;
  align-items: center;
}
.latest__time::before { 
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url(/Проект/images/icons/Clock_icon.svg) 0 0 / 100% no-repeat;
  margin-right: 9px;
  
}
.latest__team { 
flex-grow: 1;
display: flex;
flex-direction: column;
}
.latest__wrapper-team:hover {
  box-shadow: 0px 30px 30px 10px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: all .6s;
}
.latest__wrapper-team:hover .latest__team-button {
color: #ff3f3a;
}
.latest__team-heading { 
  font-size: 20px;
  color: #1E212C;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
  flex-grow: 1;
}
.latest__team-text { 
  font-size: 16px;
  color: #424551;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 16px;
}
.latest__team-button { 
  font-size: 16px;
font-weight: 700;
line-height: 160%;
color: #1E212C;
display: flex;
align-items: center;
transition: all .6s;
}
.latest__team-button::after { 
 content: "";
 width: 24px;
 height: 24px;
 background: url(/Проект/images/icons/arrow-right.svg) 0 0 / 100% no-repeat;
margin-left: 8px;
}
.latest__wrapper--podcast .latest__image-box {
background: #a2d0f7 ;
}
.latest__wrapper--video .latest__image-box{
  background: #caf0e3; 
}
.latest__wrapper--article .latest__image-box{
  background: #fff8aa ;
}
.latest__wrapper--podcast .latest__image-box span::before {
  background: url(/Проект/images/icons/mic.svg) 0 0 / 100% no-repeat;
  }
  .latest__wrapper--video .latest__image-box span::before{
    background: url(/Проект/images/icons/Player.svg) 0 0 / 100% no-repeat;
  }
  .latest__wrapper--article .latest__image-box span::before{
    background: url(/Проект/images/icons/Article.svg) 0 0 / 85% no-repeat;  
  }

/*==================================MAP INFO================================================*/
/*==============================================================================================*/

.main-info {
  padding-bottom: 180px;
 }
.info { }
.container { }
.info-inner { 
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.info-content { 
  margin-right: 30px;
}
.info__heading {
  margin-bottom: 40px;
 }
.heading { }
.heading__subtittle { }
.heading__tittle { }
.info__contacts {

 }
.info__contacts-item {
  margin-bottom: 24px;
 padding-left: 16px;
 }
 .info__contacts-item:last-child {
  margin-bottom: 0;
 }

.info__item-top { 
  font-size: 14px;
color: #787A80;
font-weight: 700;
line-height: 150%;
position: relative;
}
.info__item-top::before { 
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  width: 24px;
  height: 24px;
}
.info__mail .info__item-top::before {
  background: url(../images/icons/chats-icon.svg) 0 0 no-repeat;

}
.info__tel .info__item-top::before {
  background: url(../images/icons/phone-icon.svg) 0 0 no-repeat;

}
.info__address .info__item-top::before {
  background: url(../images/icons/address.svg) 0 0 no-repeat;

}
.info__item-link {
  font-size: 18px;
color: #1E212C;
font-weight: 400;
line-height: 150%;
transition: all .3s;
 }
 .info__item-link:hover {
 color:#ff3f3a;
 }
.info__item-address {
  font-size: 18px;
  color: #1E212C;
  font-weight: 400;
  line-height: 150%;
 }
.info__follow-head { 
  color: #1E212C;
  font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 1px;
margin-bottom: 24px;
}
.info__sosials { 
  display: flex;
}
.info__sosials-link path {
  transition: all .3s;
}
.info__sosials-link:hover path {
fill: #000000;
transition: all .3s;
}
.info__sosial-item { 
  margin-right: 32px;
}
.info__sosial-item:last-child { 
  margin-right: 0;
}
.info__map {
  width: 100%;
  max-width: 705px;
height: 412px;
border-radius: 5px;
overflow: hidden;
transition: all .5s;
 }
 .info__map:hover {
  box-shadow: 16px 16px 16px 6px rgba(0, 0, 0, 0.12);
  transition: all .5s;
 }

 /*=========================================QUESTION==============================================================================================*/
 /*===============================================================================================================================================*/

 .main__questions { 
  padding-bottom: 180px;
 }
.container { }
.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
.questions__image { }
.questions__content {
  
 }
.questions__heading { 
  margin-bottom: 40px;
}
.heading { }
.heading__subtittle { }
.heading__tittle { }
.questions__form {
 
 }
.questions__form-row { 
  display: flex;
  margin-bottom: 24px;
}
.questions__form-label { 
margin-right: 25px;
flex: 1 1 auto;

}
.questions__form-label:last-child { 
  margin-right: 0;
  }
.questions__text-label {
 display: block;
margin-bottom: 50px;
}
.questions__form-input,
.questions__form-text {
  display: block;
  border-radius: 4px;
border: 1px solid var(--gray-400, #D7DADD);
background: var(--white, #FFF);
padding: 13px 16px;
width: 100%;
margin-top: 8px;
 }
 .questions__form-input::placeholder,
.questions__form-text::placeholder {
  font-size: 16px;
  color: #9A9CA5;
  font-weight: 400;
  line-height: 160%;
}
.questions__form-text {
  resize: none;
  height: 128px;
 
}
.questions__checkbox-label {
margin-right: 50px;
display: flex;
width: 100%;
}
.questions__form-checkbox { 
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
 margin: 4px 12px 0 0;
}
.questions__form-default { 
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
.questions__form-default:checked + .questions__form-custom{ 
 background: url(/Проект/images/icons/check.svg) 50% 50% no-repeat #FF3F3A;
}
.questions__form-custom { 
  position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
border: 1px solid #000000;
border-radius: 3px;
cursor: pointer;
}
.questions__form-btn { 
  width: 100%;
  align-self: center;
  text-align: center;
  margin-right: 0;
  font-size: 16px;
}

/*===================================FOOTER===================================================================================================================*/
/*===================================FOOTER===================================================================================================================*/

.main__footer {
  background-color: #1E212C;
  z-index: -1;
  color: #FFF;
  padding-top: 80px;
 }
.container { }
.footer__inner { 
  display: flex;
}
.footer__logo { 
 
}
.footer__logo-img {
  margin-bottom: 24px;
}
.footer__logo-text { 
  font-size: 12px;
font-weight: 400;
line-height: 150%;
margin-bottom: 38px;
max-width: 279px;
margin-right: 80px;
opacity: 0.6;
}
.footer__sosials {
  display: flex;
  margin-bottom: 60px;
 }
.footer__sosial-item { 
  margin-right: 20px;
  opacity: 0.6;
  transition: all .3s;
}
.footer__sosial-item:hover { 
  opacity: 100%;
  color: #FFF;
  transition: all .3s;
}
.footer__sosial-item:last-child { 
  margin-right: 0;
}
.footer__sosials-link { }
.footer__sitemap {
  font-size: 16px;
font-weight: 400;
line-height: 160%;
 }
.footer__sitemap-head { 
  margin-bottom: 24px;
  font-size: 16px;
font-weight: 700;
line-height: 150%;
display: flex;
}
.footer__sitemap-inner { 
  margin-right: 80px;
 
}
.footer__inner-text { 
  margin-bottom: 12px;
  opacity: 0.6;
  display: flex;
  white-space:nowrap;
  transition: all .3s;
}
.footer__inner-text:hover { 
  opacity: 1;
  transition: all .3s;
}
.footer__inner-link { }

.footer__courses {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
 }
.footer__courses-head {
  margin-bottom: 24px;
  font-size: 16px;
font-weight: 700;
line-height: 150%;
 }
.footer__courses-inner {
  margin-right: 80px;
 }
.footer__contactus { 
  font-size: 16px;
font-weight: 400;
line-height: 160%;
}
.footer__contactus-head {
  margin-bottom: 24px;
  font-size: 16px;
font-weight: 700;
line-height: 150%;

 }
.footer__contactus-inner {
  margin-right: 80px;
 }
.footer__contactus-text {
  display: block;
 }
.footer__contactus-tel {
  content: "";
  background: url(/Проект/images/icons/iPhone-mini.svg) no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: all .3s;
 }
 .footer__contactus-tel:hover {
  opacity: 1;
  transition: all .3s;
 }
.footer__contactus-mail {
  content: "";
  background: url(/Проект/images/icons/mail-icon.svg) no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 22px;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: all .3s;
 }
 .footer__contactus-mail:hover {
  opacity: 1;
  transition: all .3s;
 }
.footer__head {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.footer__newsletter {
  max-width: 285px;
 }
.footer__head {
  margin-bottom: 24px;
 }
 .footer__form {
 max-width: 285px;
 
 }
.footer__form-row {
  width: 100%;
  margin-bottom: 12px;
  
 }
 .footer__form-label::before {
 content: "";
 background: url(/Проект/images/icons/Arrow-white.svg) no-repeat;
 position: absolute;
 width: 24px;
 height: 24px;
 top: 0px;
 left: 250px;
 transition: all .3s;
 }
 .footer__form-label:hover::before {
transform: scale(1.2);

  }
.footer__form-label {
  position: relative;
 }
.footer__form-input { 
  font-size: 12px;
font-weight: 400;
line-height: 150%;
padding: 12px 170px 12px 12px;
width: 100%;
background-color: rgba(255, 255, 255, 0.12);
border: 1px solid rgba(255, 255, 255, 0.20);
border-radius: 4px;
}
.footer__newsletter-text { 
  font-size: 10px;
font-weight: 400;
line-height: 150%;
}
.footer__bottom {
  display: flex;
  font-size: 12px;
font-weight: 400;
line-height: 150%;
justify-content: space-between;
align-items: center;
 }
.footer__bottom-inner {
  display: flex;
  font-size: 12px;
font-weight: 400;
line-height: 150%;
}

.footer__allrights { }
.footer__madewith { 
  padding-right: 4px;
}
.footer__contentstudio::before { 
content: "";
background: url(/Проект/images/icons/Heart.svg) no-repeat;
width: 10px;
height: 10px;
padding-left: 20px;
justify-content: space-between;
align-items: center;
}
.footer__top-inner {
  font-size: 14px;
  opacity: 0.6;
  font-weight: 700;
  line-height: 150%;
 
}
.main__footer-2 {
  height: 58px;
  background-color: #292c37;
  
}
.footer__wrapper-inner-2 {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*========================================MEDIA======================================================================================================*/
/*========================================MEDIA======================================================================================================*/
/*============================1300=================================*/
@media (max-width: 1300px) {
.program__image img {
  max-width: 400px;
}
.latest__item-inner {
  height: 100%;
}
.latest__team {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}
.latest__time-info {
  flex-grow: 1;
}
.latest__podcast-text {
  height: 100%;
}
}

/*============================1200=================================*/
@media (max-width: 1200px) {
 .header__title {
  font-size: 52px;
   max-width: 376px;
 }
 .header__img {
  max-width: 450px;
 }
 .testimonials__arrow {
  display: none;
 }
 .testimonials__slide {
  padding: 40px;
 }
 .testimonials__quote::before {
 width: 20px;
 height: 20px;
 }
 .testimonials__slide-inner {
  padding-left: 30px;
 }

.latest-el::after {
  display: none;
}
.latest__time-info {
flex-wrap: wrap;
justify-content: space-between;
}
.latest__marketing {
order: 1;
}
.latest__monts {
order: 3;
flex-basis: 100%;
}
.latest__time {
order: 2;
}
.latest__wrapper-team {
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 }
 .info-inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .info__map {
max-height: 300px;
width: 100%;
 }
 .info__heading {
  margin-bottom: 10px;
 }
.info__contacts-item {
  margin-bottom: 5px;
}
.info__contacts-item:last-child {
  margin-bottom: 20px;
}
.info__follow {
  margin-bottom: 20px;
}
.info__follow-head {
  margin-bottom: 5px;
}
.questions__image img{
  max-width: 350px;
}
.footer__inner {
  flex-wrap: wrap;
}
.footer__newsletter {
  margin-bottom: 40px;
}
  }
/*============================1100=================================*/
@media (max-width: 1100px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(154, 156, 165, 0.349);
    opacity: 0;
    z-index: 50;
    visibility: hidden;
    transition: all .3s;
  }
.burger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  border-radius: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 50px;
  height: 50px;
  transition: all .3s;
}
.burger--follow {
  top: 15px;
  right: 15px;
  box-shadow: 0 3px 10px #979292;
  background-color: #fff;
}
.burger span {
  display: block;
 width: 30px;
 height: 3px;
 background-color: rgb(66, 69, 81);
 border-radius: 3px;
 margin: 4px 0;
}
.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(66, 69, 81);
  border-radius: 3px;
}
.burger--active span{
  transform: scale(0);
}
.burger--active::before{
  position: absolute;
  transform: rotate(45deg);
}
.burger--active::after{
  position: absolute;
  transform: rotate(-45deg);
}
.header {
  padding-top: 92px;
}
.header__top {
  
}
.header__top-inner {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  justify-content: space-between;
  padding: 100px 20px;
  min-width: 320px;
  transform: translateX(100%);
}
.header__top--open {
  transform: translateX(0);
}
.header__logo {
  margin: 0;
}
.header__nav {
margin: 0 auto;
}
.header__nav-list {
  flex-direction: column;
  align-items: center;
}
.header__nav-item {
  margin: 0;
  padding: 20px;
}
.header__nav-link {
  padding: 30px;
}
.header__btn-box {
  flex-direction: column-reverse;
  align-items: center;
}
.header__top-btn2 {
margin: 0;
margin-top: 30px;
}
.header__user-naw {
}
.about__img {
  max-width: 400px;
}
.program__image img {
  display: none;
}
.program__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.program__content {
  margin-right: 0;
}
}

/*============================1000=================================*/
@media (max-width: 1000px) {
  .cert__inner {
    flex-direction: column;
    }
    .cert__inner {
      align-items: center;
       }
       .cert__heading {
        align-items: center;
       }
       .cert__content {
        align-items: center;
        margin: 0 10px 0 20px;
       }
       .testimonials__slider-wrapper {
        margin-bottom: 10px;
       }
       .work__list {
        display: flex;
        justify-content: center;
       }
       .work__corporations {
        gap: 30px 10.1%;
        grid-template: repeat(4, auto) / repeat(3, 1fr);
        width: 380px;
        height: 380px;
        align-items: center;
      }
      .latest__wrapper {
        flex-direction: column;
        margin: 0 10px 0 10px;
      }
      .latest__content {
        margin-bottom: 20px;
      }
      .latest__image-box {
        display: flex;
        justify-content: center;
        max-height: 315px;
        background: #a2d0f7;
      }
      .latest__image-box img {
       width: auto;
     
      }
      .latest__content {
        margin-right: 35px;
        margin-left: 35px;
      }
}


/*============================900=================================*/
@media (max-width: 900px) {
  .header__content {
    margin: 0;
  }
 .header__img {
  display: none;
 }
 .header__row {
  display: none;
 }
 .about__img {
  
  display: none;
 }
 .about__createx {
  margin-bottom: 70px;
 }
.directions__filter-box {
  justify-content: space-between;
}
.directions__filter-item {
  margin-right: 10px;
}
.directions__list {
gap: 30px 10px;
}
.directions__link-content {
  padding: 24px 10px 10px;
}
.cert__inner {
  max-width: 600px;
   }
   .testimonials__dots button {
    width: 15px;
   }
  .questions__image {
    display: none;
  }
  .footer__logo-text {
    flex-basis: 100%;
    max-width: 100%;
  }
  .header {
    margin-bottom: 70px;
  }
  .main__about {
    margin-bottom: 70px;
  }
  .main__directions {
    padding-bottom: 70px;
  }
  .main__team {
    padding-bottom: 70px;
  }
  .main__testimonials {
    padding-bottom: 70px;
  }
  .main__program {
    padding: 70px 0 70px 0;
  }
  .main__latest {
    padding-bottom: 70px;
  }
  .main-info {
    padding-bottom: 70px;
  }
  .main__questions {
    padding-bottom: 70px;
  }
  }
  
/*===============================800=================================*/

@media (max-width: 800px) {
.questions__heading {
  margin-bottom: 15px;
}
.questions__form-row {
  margin-bottom: 10px;
}
.questions__text-label {
  margin-bottom: 15px;
}

}
/*===============================700=================================*/
@media (max-width: 700px) {
  .about__values {
    flex-direction: column;
  }
  .about__createx {
    margin-bottom: 55px;
   }
   .directions__list {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
   }
   .testimonials__slider-wrapper {
    padding: 0 0 0 10px;
   }
 .testimonials__slide {
  padding: 20px;
 }
 .testimonials__heading {
  margin-bottom: 20px;
 }
 .program__heading {
  margin-bottom: 15px;
 }
 .program__acc-item {
  margin-bottom: 5px;
 }
 .latest__content {
  flex-direction: column;
  align-items: flex-start;
 }
 .footer__inner {
  flex-direction: column;
 }
 .footer__sitemap-head {
  cursor: pointer;
 }
 .footer__courses-head {
  cursor: pointer;
 }
 .footer__contactus-head {
  cursor: pointer;
 }
 .footer__sitemap-inner {
  display: none;
 }
 .footer__courses-inner {
  display: none;
 }
 .footer__contactus-inner {
  display: none;
 }
 .footer__wrapper-inner-2 {
  flex-direction: column;
 }
 .footer__bottom-inner {
  text-align: center;
 }

 
}
   /*============================550=================================*/

   @media (max-width: 550px) {
.about__btn-box {
  flex-direction: column;
  align-items: flex-start;
}
.heading {
  margin-bottom: 25px;
}
.about__btn {
  margin: 0 0 30px 0;
}
.heading__tittle {
  font-size: 37px;
 }
 .heading__subtittle {
  font-size: 14px;
  margin-bottom: 8px;
 }
 .about__paragraph {
  font-size: inherit;
  margin-bottom: 10px;
 }
 .about__text {
  margin-bottom: 30px;
 }
 .about__createx {
  margin-bottom: 35px;
 }
 .heading__subtittle {
  margin-bottom: 5px;
 }
 .directions__inner {
  margin-bottom: 10px;
 }
 .direction__list {
  grid-template: none;
 }
 .cert__content {
  margin-bottom: 10px;
 }
 .team__image-box {
  margin: 0 auto 16px;
  max-width: 300px;
 }
 .team__slider-arrows {
 top: 60px;
 }
 .info__sosial-item {
  margin-right: 15px;
 }
 .questions__form-row {
  flex-direction: column;
}
.questions__form-label {
  margin-right: 0;
}
   }
   
   /*============================450=================================*/

@media (max-width: 400px) {
  .header__top-inner {
    min-width: none;
    left: 0;
  }
  .header__title {
    max-width: 360px;
    font-size: 32px;
  }
  .header__content-buttons {
      flex-direction: column;
      align-items: flex-start;
  }
  .header__content-btn {
    margin: 0 0 30px 0;
    text-align: center;
  }
  .directions__filter-box {
    margin-bottom: 15px;
  }
  .direction__list {
    grid-template: repeat(1, auto) / repeat(auto, 1fr);
   }
   .cert__logos {
   flex-direction: column;
   align-items: center;
   }
   .logos__item {
    margin-right: 0;
   }
   .work__corporations {
    gap: 10px 50px;
    grid-template: repeat(6, auto) / repeat(2, 1fr)
  }
  .work__corporation-link {
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }
}

/*============================400=================================*/

@media (max-width: 400px) {
.header__top-inner {
  min-width: none;
  left: 0;
}
.heading__tittle {
  font-size: 25px;
 }
 .about__number {
  font-size: inherit;
 }
 .about__number span {
  font-size: 30px;
 }
 .team__heading {
  margin-bottom: 50px;
 }
 .team__slider-arrows {
  top: 80px;
  }
}
@media (max-width: 200px) {
  .team__slider-arrows {
    top: 130px;
    }
}
@media (max-width: 170px) {
  .team__slider-arrows {
    top: 150px;
    }
  }
/*==========================================================================================================================*/
/*===========================================================================================================================*/
